@import "../../../Styles/variables";
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

input {
    width: 190px;
    padding: 3px;
}

.errorField {
    border: 2px solid $error;
}

.errorFont {
    color: $error;
}
.label {
    display: flex;
    justify-content: flex-start;
    font-size: small;
    margin-bottom: 2px;
}

.m10 {
    margin: 10px 10px 0px 10px;
}
button {
    width: fit-content;
}

select {
    width: 200px;
    padding: 3px;
}

.mb10 {
    margin-bottom: 10px;
}