
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    width: fit-content;
    padding: 5px;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.fontSM {
    font-size: 11px;
}
.icon {
    /* margin-right: 20px; */
    font-size: large;
    margin-right: 5px;
}