
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 200px;
    margin: 10px;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.icon {
    margin-right: 20px;
}